body, html {
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}

body {
    font-family:Roboto;
    font-size: 12px;
    background-color: black;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font: Roboto;
    color: #ffde00;
    font-size: 50px;
}

h2 {
    text-align: center;
    font: Roboto;
    color: #ffde00;
    font-size: 20px;
}

header, footer, section, article, div {
    box-sizing: border-box;
}

a:link {
    color: #ffde00;
    text-decoration: none;
}

a:visited {
    color: #ffde00;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}


/* Header */
.header {
    background-color: #ffde00;
    height: 85px;
    transition: min-height 0.3s;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header--inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header--logo {
    height: 100%;
    vertical-align: top;
    float: left;
}

.header--image {
    height: 100%;
    float: right;
    vertical-align: top;
}

/* MAIN */
main {
    padding-top: 20%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
}

.img {
    order:1;
}

.cv {
    width: 100%;
    min-height: 56px;
    display: block;
}

.featured {
    order:3;
    width: 50%;
    padding: 10px;
}

.featured--title {
    order: 2;
    width: 100%;
}

.featured--container {
    width: 100%;
}

p {
    color: white;
    font: Roboto;
    font-size: 12px;
    text-align: center;
}
.ord--2 {
    order:2;
}

.ord--3 {
    order:3;
}

.ord--4 {
    order:4;
}

.ord--5 {
    order:5;
}

