/* Header */

.header {
    top: -2px;
    background-color: #fff;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.header--image {
    display: block;
    height: 50%;
    margin: auto;
    margin-top: 15px;
}

/* Parallax */

#layer1 {
    transform: translate3d(0px, 0px, 0px);
    transition: 1s ease;
    z-index: -2;
}

#layer2 {
    transform: translate3d(0px, 0px, 0px);
    transition: 1s ease;
    z-index: 1;
}

/* Boxes */

.box-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 450px;
    left: 20%;
    background-color: #f85563;
    box-sizing: border-box;
    display: block;
}

.box-2 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 25%;
    box-sizing: border-box;
    display: block;
}

.right-1 {
    position: absolute;
    left: 50%;
    width: 50%;
}

.inner-text {
    font-family: Work Sans;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    font-size: 1.6em;
    font-weight: 700;
}

p {
    font-size: 0.75em;
    font-weight: 400;
}
