html {
    font-family: Work Sans;
    color: #202023;
}

/* Header */

.header {
    top: -2px;
    background-color: #fff;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 3;
}

.header--image {
    display: block;
    height: 50%;
    margin: auto;
    margin-top: 15px;
}

/* Parallax */

#layer1 {
    transform: translate3d(0px, 0px, 0px);
    transition: 1s ease;
    z-index: -2;
}

#layer2 {
    transform: translate3d(0px, 0px, 0px);
    transition: 1s ease;
    z-index: 1;
}

/* Button */

.button {
    position: fixed;
    bottom: 5%;
    left: 50%;
    margin-left: -60px;
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 1.34454rem 3.78151rem 1.17647rem;
    line-height: 1;
    border-style: solid;
    border-width: 4px;
    text-transform: lowercase;
    border-color: #7099b4;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

/* Boxes */

.box-1 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 450px;
    left: 20%;
    background-color: #f85563;
    box-sizing: border-box;
    display: block;
}

.box-2 {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 200px;
    left: 25%;
    box-sizing: border-box;
    display: block;
}

.right-1 {
    position: absolute;
    left: 50%;
    width: 50%;
}

.inner-text {
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    font-size: 3em;
    font-weight: 900;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
}

p {
    font-size: 0.75em;
    font-weight: 400;
}

.article {
    position: absolute;
    top: 50px;
    left: 25%;
    width: 50%;
}

.article p {
    font-size: 1em;
    font-weight: 400;
}

.darma-img {
    width: 100%;
}